.cart-detail-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3.125rem;
    padding: 20px 1.25rem;
    background-color: #f5f5f5;
    width: 80%;
    height: max-content;
    margin: 6.25rem auto 12.5rem auto;
}
