.product-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5rem auto 20rem auto;
    max-width: 90rem;
    padding: 1rem;
}

.main-image {
    width: 31.25rem;
    margin: 0 auto;
    padding: 1.5rem
}

.product-image {
    width: 100%;
}

.product-description {
    width: 42.5rem;
    margin: 0 auto;
}

.description-title {
    color: #001428;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.875rem;
}

.description {
    color: #001428;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 1rem auto 2rem auto;
}

.colors-container{
    margin-bottom: 1.5625rem;
    margin-top: 2.25rem;
}
.colors-description {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
}
.colordot-container {
    align-items: center;
    border-radius: .5rem;
    background-color: #E5E6E7;
    box-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.342);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: .5rem;
    width: 18.125rem;
}

.colordot-container p{
    font-size: .75rem;
    font-weight: 700;
}

.capacity{
    margin-bottom: 3rem;
}
.desciption-capacity{
    align-content: center;
    border-radius: .5rem;
    box-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.342);
    background-color: #E5E6E7;
    height: 2.875rem;
    padding: .5rem;
    width: 18.125rem;
}

.desciption-capacity p{
    font-size: .75rem;
    font-weight: 700;
}

.quantity-container {
    margin-bottom: 3rem; 
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.quantity-btn {
    background-color: #e0e0e0; 
    border: none;
    border-radius: 0.75rem; 
    box-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.342);
    width: 2.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem; 
    font-weight: bold;
    color: #333; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #ccc;
}

.quantity-btn:active{
    transform: scale(.95);
}

.quantity-value {
    background-color: #e0e0e0; 
    padding: 0.625rem 1.25rem; 
    border-radius: 0.75rem; 
    font-size: 1rem; 
    font-weight: bold;
    color: #333; 
    text-align: center;
    min-width: 9.375rem; 
}


.add-cart-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
}

.description-price {
    color: #000000;
    font-size: clamp(1.125rem, 2vw + 1rem, 1.5rem);
    font-weight: 700;
    line-height: 1.75rem;
    margin: 0;
}

.btn-add-cart {
    box-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.342);
    max-width: 18.75rem;
}

.card-btn.disable {
    background-color: rgb(153, 153, 153); 
    cursor: not-allowed; 
    opacity: 0.6; 
}