.banner-container {
    position: relative;
    margin-top: 1rem;
}

.banner-image {
    width: 100%;
}

.banner-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: #ffffff;
    font-size: 1rem;
    padding: .3125rem;
    cursor: pointer;
    z-index: 10;
}

.banner-button.left {
    left: .625rem;
}

.banner-button.right {
    right: .625rem;
}

.banner-button:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}
