.logo-container{
    padding: 0 !important;
}
.logo{
    width: 3rem;
    margin-right: .625rem;
    color: #001428;
}

.mpark {
    display: flex;
}

.mpark p{
    align-content: center;
    font-size: 1.25rem;
    margin-bottom: 0;
}