.order-confirm {
    padding: 1.25rem;
    background-color: #f9f9f9;
    box-shadow: 0 .125rem .625rem rgba(0, 0, 0, 0.1);
    margin: 5rem auto 12.5rem auto;
    max-width: 62.5rem;
    width: 90%;
}

.order-details {
    margin: 1.25rem 0;
}

.order-details h2{
    text-align: center;
    margin-bottom: 2rem;
}

.buyer-info{
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.order-id{
    margin-bottom: 1rem;
}
.total {
    font-weight: 600;
}

.order-table {
    width: 100%;
    margin: 1rem 0;
}

.order-table th,
.order-table td {
    padding: .5rem;
    text-align: center;
}

.order-table th {
    background-color: #f2f2f2;
}

.product-info {
    display: flex;
    align-items: center;
}

.prod-image {
    width: 3.125rem;
    margin-right: .625rem;
}

.total-row {
    background-color: #f2f2f2;
    font-weight: bold;
}

.close-btn {
    background-color: #ff4d4d;
    border: none;
    border-radius: .3125rem;
    color: #ffffff;
    cursor: pointer;
    margin: 1rem auto;
    padding: .625rem .9375rem;
    width: 12.5rem;
}

.close-btn:hover {
    background-color: #c90000;
}

.continue p{
    font-size: .75rem;
    color: #313131b4;
}