.cart-container{
    align-items: center;
    border-left:  3px solid #ffffff2c;;
    display: flex;
    justify-content: center;
    margin-left: 1.25rem;
    width: 8rem;
}

.cart-container img{
    width: 4rem;
}
