.product-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5625rem;
    max-width: 90%;
    margin: 0 auto 20rem auto;
}
.product-card {
    width: 17.5rem;
    height: 31.25rem;
    border-radius: .625rem;
    box-shadow: 0 .125rem .625rem rgba(0, 0, 0, 0.164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .625rem;
    background-color: #F8F6F4;
    text-align: center;
}

.product-card  img {
    width: 100%;
}

.product-title {
    font-size: 1.25rem;
    font-weight: bolder;
    margin-bottom: .625rem;
    color: #1c1c1c;
}

.colors {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5625rem;
    margin-top: 1.5625rem;
}

.color-dot {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    margin: 0 .3125rem;
    border: .0625rem solid #d6d6d6;
    box-shadow: 0 .125rem .1875rem rgba(0, 0, 0, 0.342);
    cursor: pointer;
}

.color-dot:active{
    transform: scale(.95);
}

.color-dot.gray {
    background-color: #232D2C;
}

.color-dot.fuzz {
    background-color: #E6AC8D;
}

.price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .9375rem;
    color: #1c1c1c;
}

.card-btn {
    background-color: #001f3f;
    color: #F8F6F4;
    font-size: 1rem;
    padding: .625rem 1.25rem;
    border: none;
    border-radius: .3125rem;
    cursor: pointer;
    width: 100%;
    transition: .2s ease ;
}

.card-btn:hover {
    background-color: #FF554D;
}