.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem .5rem 1rem .5rem !important;
    margin: 0 auto;
    width: 90%;
}

.nav a, p{
    color: #001428;
    font-weight: 600;
}

.logoContainer{
    display: flex;
    padding: .625rem 0;
}

.navbar{
    padding: 0 !important;
}
.products-list{
    display: flex;
    gap: 3.125rem;
    margin-bottom: 0;
}

